{% extends 'base.html' %} 

{% block content %}

<!-- Hero Section -->
<h1 class="text-4xl font-bold text-center mt-10">{{ classroom.id }} {{ classroom.name }}</h1>

<!-- Button -->
<button 
class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10 ml-10">
    <a href="{% url 'exercise_form' classroom_id=classroom.id %}" class="text-primary font-semibold">Create Exercise</a>
</button>

<h3 class="text-2xl font-semibold m-10">All Exercises</h3>
<ul class="space-y-4 ml-10 mr-10">
    {% for exercise in exercises %}
        <li class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4">
            <span class="text-gray-500 font-medium">{{ exercise.id }}</span>
            <span class="text-gray-900 font-semibold">{{ exercise.name }}</span>
            <a href="{% url 'exercise_detail' exercise.id %}" class="text-primary font-semibold">View</a>
            <a href="{% url 'edit_exercise' exercise.id %}" class="text-yellow-500 font-semibold">Edit</a>
            <a href="{% url 'delete_exercise' exercise.id %}" class="text-red-500 font-semibold">Delete</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}