{% extends 'base.html' %}

{% block content %}
<h3 class="text-2xl font-semibold m-10">Delete Exercise</h3>
<p class="ml-10 mr-10">Are you sure you want to delete "{{ exercise.name }}"?</p>
<form method="post" class="ml-10 mr-10">
    {% csrf_token %}
    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Delete
    </button>
    <a href="{% url 'exercise_detail' exercise.id %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
        Cancel
    </a>
</form>
{% endblock %}