# ASGI (Asynchronous Server Gateway Interface)
asgiref==3.8.1  # This comes as a Django dependency

# Environment Variables
django-environ==0.11.2

# Web Framework and REST
Django==5.0.6
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Database
psycopg==3.2.1
psycopg-binary==3.2.1
sqlparse==0.5.0
typing_extensions==4.12.2

# Environment Variables
django-environ==0.11.2

# Production Web Server that runs our app in production
gunicorn==21.2.0

# Package that helps us connect to db using URL (only if you are using URL to connect to database)
dj-database-url==2.1.0

# API Documentation
drf-spectacular==0.27.1

# Authentication
djangorestframework-simplejwt==5.3.1

# Static File Handling
whitenoise==6.6.0